[tools]
uv = "0.9"
ruff = "0.14"
rust = "1.93"
just = "1.46"
go = "1.25"
watchexec = "2"

[tasks.watch]
run = "watchexec mise run fmt"

[tasks.deps]
description = "Fetch cargo dependencies"
run = "cargo fetch"

[tasks.deps-update]
description = "Update cargo dependencies"
run = "cargo update"

[tasks.deps-upgrade]
description = "Upgrade cargo dependencies"
run = "cargo install cargo-upgrade && cargo-upgrade upgrade"

[tasks.fmt_rust]
description = "Format rust code"
run = "cargo fmt --all"

[tasks.fmt_python]
run = "uv run ruff format ."

[tasks.fmt]
depends = ["fmt_rust", "fmt_python"]

[tasks.lint]
description = "Check formatting and run clippy"
depends = ["fmt"]
run = "cargo fmt --all -- --check && cargo clippy --all -- -D warnings"

[tasks.lint-fix]
description = "Auto-fix clippy issues"
run = "cargo clippy --all --fix"

[tasks.build]
description = "Build the project"
depends = ["deps", "lint"]
run = "cargo build"

[tasks.test_core]
description = "Run core tests"
depends = ["build"]
run = "cargo test"
[tasks.test_cli]
description = "Run cli tests"
depends = ["build"]
run = "uv run pytest"

[tasks.test]
description = "Run all tests"
depends = ["test_core", "test_cli"]


[tasks.install]
description = "Install casq binary"
depends = ["test"]
run = "cargo install --path ./casq"

[tasks.publish]
description = "Publish to crates.io"
run = "cargo publish --workspace"

[tasks.all]
description = "Build, test, and install"
depends = ["build", "test", "install"]
run = "echo 'All tasks completed'"
